
@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), local('Roboto-Regular'), url('./roboto-regular.woff2') format('woff2'),
       url('./roboto-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Bold'), local('Roboto-Bold'), url('./roboto-bold.woff2') format('woff2'),
       url('./roboto-bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;

}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Light'), local('Roboto-Light'), url('./roboto-light.woff2') format('woff2'),
       url('./roboto-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'Roboto';
  src: local('Roboto Medium'), local('Roboto-Medium'),url('./roboto-medium.woff2') format('woff2'),
       url('./roboto-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;

}